body #rightBody #rightScreen, body #leftBody #leftScreen {
  width: 350px;
  height: 350px;
  margin: 25px;
  border: none; }

body {
  display: inline;
  text-transform: uppercase;
  font-family: pokemon-font; }
  body .frame {
    background-color: red;
    width: 500px;
    height: 800px;
    margin-top: 100px;
    border-radius: 0px 0px 30px 30px; }
  body div {
    border: 1px solid black;
    position: absolute; }
  body .screen {
    width: 400px;
    height: 400px;
    background-color: honeydew;
    margin: 50px;
    border-radius: 25px; }
  body #rightBody {
    background-color: transparent;
    margin-left: 500px; }
  body #topLeft {
    width: 500px;
    height: 100px;
    background-color: #cc0000;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    align-items: center; }
  body #leftBody {
    float: left; }
    body #leftBody #leftScreen #pokeName {
      text-transform: uppercase;
      margin-top: -50px;
      text-align: center; }

.hideMe {
  backface-visibility: hidden; }

#front {
  width: 500px;
  height: 800px;
  border-radius: 0px 0px 30px 30px; }

#back {
  width: 500px;
  height: 800px;
  border-radius: 0px 0px 30px 30px; }

h1 {
  margin-top: -12px;
  font-size: 30px; }

h3 {
  font-size: 15px; }

h2 {
  font-size: 30px; }

#redLight, #yellowLight, #greenLight {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-top: -20px; }

#redLight {
  margin-left: 100px;
  background: repeating-radial-gradient(circle at 10px 10px, #ffb3b3, red); }

#yellowLight {
  margin-left: 140px;
  background: repeating-radial-gradient(circle at 10px 10px, yellow, #dd6031); }

#greenLight {
  margin-left: 180px;
  background: repeating-radial-gradient(circle at 10px 10px, lime, green); }

#blueLight {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin-left: 20px;
  /* background-color: yellow; */
  background: radial-gradient(circle, #ccffff, #34e4ea, #0496ff); }

.buttonArray {
  border: none;
  width: 500px;
  height: 100px;
  margin-top: 500px;
  display: flex;
  align-items: center; }
  .buttonArray .leftButton {
    background-color: yellow;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-left: 150px;
    box-shadow: 0 5px orange; }
    .buttonArray .leftButton:active {
      box-shadow: 0 0 orange;
      top: 17px; }
  .buttonArray .rightButton {
    background-color: yellow;
    box-shadow: 0 5px orange; }
    .buttonArray .rightButton:active {
      box-shadow: 0 0 orange;
      top: 17px; }
  .buttonArray #previous {
    border: none;
    /* float:left; */
    margin-left: 25px;
    width: 0px;
    height: 0px;
    border-top: 40px solid transparent;
    border-right: 80px solid black;
    border-bottom: 40px solid transparent; }
  .buttonArray #next {
    border: none;
    margin-left: 395px;
    width: 0px;
    height: 0px;
    border-top: 40px solid transparent;
    border-left: 80px solid black;
    border-bottom: 40px solid transparent; }
  .buttonArray #newPic {
    margin-left: 275px; }
  .buttonArray #abilities {
    margin-left: 350px; }
  .buttonArray #stats {
    margin-left: 50px; }
  .buttonArray #powerButton {
    margin-left: 200px;
    backface-visibility: hidden; }
  .buttonArray .material-icons {
    margin-left: 7px;
    margin-top: 7px; }

form {
  margin-top: 670px;
  margin-left: 100px;
  width: 300px;
  font-size: 40px;
  height: 40px; }
  form #searchField {
    border-bottom: none;
    font-size: 25px;
    width: 300px;
    text-transform: uppercase;
    background-color: honeydew;
    font-family: pokemon-font; }

#powerButton {
  background-color: limegreen;
  box-shadow: 0 5px green; }
  #powerButton:active {
    box-shadow: 0 0 green;
    top: 17px; }

.buttonArray .rightButton, #powerButton {
  height: 75px;
  width: 75px;
  border-radius: 5px; }

#pokeBall {
  width: 100px;
  height: 100px;
  margin-top: 650px;
  margin-left: 200px; }

img {
  width: 400px;
  height: 400px;
  margin-top: -50px;
  margin-left: -20px; }

#pic {
  animation: appear 1s; }

@keyframes appear {
  0% {
    width: 10%;
    height: 10%;
    margin-top: 300px; }
  50% {
    margin-left: 30px; }
  100% {
    width: 115%;
    height: 115%;
    margin-top: -50px;
    margin-left: -20px; } }
.close {
  transition: transform 5s;
  transform: rotateY(-180deg);
  transform-origin: 0% 100%;
  transform-style: preserve-3d; }

.open {
  transition: transform 5s;
  transform: rotateY(0deg);
  transform-origin: 0% 0%;
  transform-style: preserve-3d; }

/*# sourceMappingURL=main.css.map */
