@import "partials/colors";
@import "partials/dimensions";

body {
  display: inline;
  text-transform: uppercase;
}

div {
  border: 1px solid black;
  position: absolute;
}


.frame {
  background-color: $mainColor;
  width: 500px;
  height: 800px;
  margin-top: 100px;
  border-radius: 0px 0px 30px 30px
}

.screen {
  width: 400px;
  height: 400px;
  background-color: $screenColor;
  margin: 50px;
  border-radius: 25px;
}

#leftScreen {
  @extend %screenDisplay;
}

#rightScreen {
  @extend %screenDisplay;
}

.light {
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

#leftLight {
  margin-left: 20px;
  background: repeating-radial-gradient(
    circle at 20px 20px,
    yellow,
    #dd6031);
}

#rightLight {
  margin-left: 100px;
  /* background-color: yellow; */
  background: repeating-radial-gradient(
    circle at 20px 20px,
    turquoise,
    #4d9de0);
}

/* MAIN BODY OF POKEDEX */

#rightBody {
  margin-left: 500px;
}

#leftBody {
  float: left;
}

/* LITTLE PIECE STICKING OUT ON TOP */

#topLeft {
  width: 500px;
  height:100px;
  background-color: $offMainColor;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  align-items: center;
}

/* POKEBALL IMAGE */

#pokeBall {
  width: 100px;
  height: 100px;
  margin-top: 650px;
  margin-left: 200px;
}

/* POKEMON DISPLAYS */

img {
  width: 400px;
  height: 400px;
  margin-top: -50px;
  margin-left: -20px;
}

#pokeName {
  text-transform: uppercase;
  margin-top: -50px ;
  text-align: center;
}

/* BUTTONS */

.material-icons {
  @extend %icons;
}
.buttonArray {
  border: none;
  width: 500px;
  height: 100px;
  margin-top: 500px;
  display: flex;
  align-items: center;
}

/* BUTTONS ON LEFT */

.leftButton {
  background-color: $leftButtonColor;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-left: 150px;
  box-shadow: 0 5px $leftButtonColorShadow;
}

.leftButton:active {
  box-shadow: 0 0 $leftButtonColorShadow;
  top: 17px;
}

#previous {
  border: none;
  /* float:left; */
  margin-left: 25px;
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
	border-right: 80px solid $switchButtonColor;
	border-bottom: 40px solid transparent;
}

#next {
  border: none;
  margin-left: 395px;
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
	border-left: 80px solid $switchButtonColor;
	border-bottom: 40px solid transparent;
}

#newPic {
  margin-left: 275px;
}

#abilities {
  margin-left: 350px
}

/* BUTTONS ON RIGHT */

.rightButton {
  background-color: $rightButtonColor;
  height: 75px;
  width: 75px;
  border-radius: 5px;
  box-shadow: 0 5px $rightButtonColorShadow;
}

.rightButton:active {
  box-shadow: 0 0 $rightButtonColorShadow;
  top: 17px;
}

#stats {
  margin-left: 50px
}

#powerButton {
  margin-left: 200px;
}

// #powerButtonPic {
//   margin: auto;
//   margin-top: 5px;
//   display: block;
//   height: 60px;
//   width: 60px;
// }
/* INPUT FOR SEARCHING POKEMON */

form {
  margin-top: 670px;
  margin-left: 100px;
  font-size: 40px;
  height: 40px;
}

input {
  font-size: 40px;
  width: 300px;
  text-transform: uppercase;
}
