body {
  display: inline;
  text-transform: uppercase;
}

div {
  border: 1px solid black;
  position: absolute;
}

.frame {
  background-color: red;
  width: 500px;
  height: 800px;
  margin-top: 100px;
  border-radius: 0px 0px 30px 30px
}

.light {
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

#leftLight {
  margin-left: 20px;
  /* background-color: chartreuse; */
  background: repeating-radial-gradient(
    circle at 20px 20px,
    yellow,
    #dd6031);
}

#rightLight {
  margin-left: 100px;
  /* background-color: yellow; */
  background: repeating-radial-gradient(
    circle at 20px 20px,
    turquoise,
    #4d9de0);
}
#rightBody {
  margin-left: 500px;
}

#leftBody {
  float: left;
}

#topLeft {
  width: 500px;
  height:100px;
  background-color: crimson;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  align-items: center;
}

#pokeBall {
  width: 100px;
  height: 100px;
  margin-top: 650px;
  margin-left: 200px;
}

img {
  width: 500px;
  height: 500px;
  margin-top: -100px;
  margin-left: -75px;
}

#pokeName {
  text-transform: uppercase;
  margin-top: -75px ;
  text-align: center;
}

.screen {
  width: 400px;
  height: 400px;
  background-color: honeydew;
  margin: 50px;
  border-radius: 25px;
}

#leftScreen {
  width: 350px;
  height: 350px;
  margin: 25px;
  border: none;

}

#rightScreen {
  width: 350px;
  height: 350px;
  margin: 25px;
  border: none;
}
.buttonArray {
  border: none;
  width: 500px;
  height: 100px;
  margin-top: 500px;
  display: flex;
  align-items: center;
}

/* .button {
  border-radius: 100px;
  height:75px;
  width:75px;
  background-color: blue;
  justify-content: space-around;
} */

/* .switch {
  border: none;
  background-color: green;
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
} */

#previous {
  border: none;
  /* float:left; */
  margin-left: 25px;
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
	border-right: 80px solid green;
	border-bottom: 40px solid transparent;
}

#next {
  border: none;
  margin-left: 395px;
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
	border-left: 80px solid green;
	border-bottom: 40px solid transparent;
}

#sound {
  background-color: blue;
  height: 75px;
  width: 75px;
  border-radius: 5px;
  margin-left: 150px;
}

#newPic {
  background-color: blue;
  height: 75px;
  width: 75px;
  border-radius: 5px;
  margin-left: 275px;
}

#stats {
  background-color: turquoise;
  height: 75px;
  width: 75px;
  border-radius: 5px;
  margin-left: 50px
}

#powerButton {
  background-color: turquoise;
  height: 75px;
  width: 75px;
  border-radius: 5px;
  margin-left: 200px;
}

#powerButtonPic {
  margin: auto;
  margin-top: 5px;
  display: block;
  height: 60px;
  width: 60px;
}

#abilities {
  background: repeating-radial-gradient(
    circle at 20px 20px,
    turquoise,
    #030303);
  height: 75px;
  width: 75px;
  border-radius: 5px;
  margin-left: 350px
}

form {
  margin-top: 670px;
  margin-left: 100px;
  font-size: 40px;
  height: 40px;
}

input {
  font-size: 40px;
  width: 300px;
  text-transform: uppercase;
}
