body {
  display: inline;
}
div {
  border: 1px solid black;
  position: absolute;
}

.body {
  background-color: red;
  width: 500px;
  height: 800px;
  margin-top: 100px;
  border-radius: 0px 0px 30px 30px
}

#rightBody {
  margin-left: 500px;
}

#leftBody {
  float: left;
}

#topLeft {
  width: 500px;
  height:100px;
  background-color: crimson;
  border-radius: 50px 50px 0px 0px;
}

img {
  width: 100px;
  height: 100px;
  margin: auto;
}

.screen {
  width: 400px;
  height: 400px;
  background-color: honeydew;
  margin: 50px;
  border-radius: 25px;
}

.buttonArray {
  width: 500px;
  height: 100px;
  margin-top: 500px;
  display: flex;
  align-items: center;
}

/* .button {
  border-radius: 100px;
  height:75px;
  width:75px;
  background-color: blue;
  justify-content: space-around;
} */

/* .switch {
  border: none;
  background-color: green;
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
} */

#previous {
  border: none;
  /* float:left; */
  margin-left: 25px;
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
	border-right: 80px solid green;
	border-bottom: 40px solid transparent;
}

#next {
  border: none;
  margin-left: 395px;
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
	border-left: 80px solid green;
	border-bottom: 40px solid transparent;
}

#sound {
  background-color: blue;
  height: 75px;
  width: 75px;
  border-radius: 5px;
  margin-left: 150px;
}

#newPic {
  background-color: blue;
  height: 75px;
  width: 75px;
  border-radius: 5px;
  margin-left: 275px;
}

form {
  margin-top: 670px;
  margin-left: 100px;
  font-size: 40px;
  height: 40px;
}

input {
  font-size: 40px;
  width: 300px;
  text-transform: uppercase;
}
