$mainColor: red;
$switchButtonColor: black;
$leftButtonColor: yellow;
$leftButtonColorShadow: orange;
$rightButtonColor: limegreen;
$rightButtonColorShadow: green;
$offMainColor: crimson;
$screenColor: honeydew;
