$mainColor: red;
$switchButtonColor: black;
$leftButtonColor: yellow;
$leftButtonColorShadow: orange;
$rightButtonColor: limegreen;
$rightButtonColorShadow: green;
$offMainColor: #cc0000;
$screenColor: honeydew;
$blueLightCenter: #ccffff;
$blueLightSecond: #34e4ea;
$blueLightOutside: #0496ff;
