$mainColor: red;
$switchButtonColor: green;
$leftButtonColor: blue;
$leftButtonColorShadow: #247ba0;
$rightButtonColor: turquoise;
$rightButtonColorShadow: #598381;
$offMainColor: crimson;
$screenColor: honeydew;
