#pokeBall {
  width: 100px;
  height: 100px;
  margin-top: 650px;
  margin-left: 200px;
}

img {
  width: 400px;
  height: 400px;
  margin-top: -50px;
  margin-left: -20px;
}

#pic {
  animation: appear 5s;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}
