#pokeBall {
  width: 100px;
  height: 100px;
  margin-top: 650px;
  margin-left: 200px;
}

img {
  width: 400px;
  height: 400px;
  margin-top: -55px;
  margin-left: -20px;
}

#pic {
  animation: appear 1s;
}
